#logo{
  top: 0px;
  left: 0px;
  position: fixed;
  margin-top: 0;
}
.ingredients {
    height: 50px;
    width: 50px;
    /*background-color: rgba(255, 255, 255, 0.9);*/
    /*border: 2px solid #ccc;*/
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: BalooBhai, sans-serif;
    font-size: 16px;
    /*cursor: pointer;*/
    transition: transform 0.2s ease, background-color 0.2s ease;
}
.ingredients:hover {
    background-color: #ffa;
    transform: scale(1.1);
}
.check{
  border: solid 5px #ea923a;
  /* filter: brightness(1.75); */
  transform: perspective(800px);
  /* filter: opacity(80%); */
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    /*height: 100vh;*/
    /*width: auto;*/
    max-width: 100%;
    /*display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;*/
    font-family: BalooBhai, sans-serif;
    background: url(images/background-coupé.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 10px;
}
#ingredientPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#recipesPage{
    display: flex;
    align-items: center;
    justify-content: center;
}
#frigo{
    
    height: 900px;
    width: 650px;
}

#frigoContainer2{
    position: absolute;
    top: 51%;
    padding-left: 38px;
}
#frigoContainer3{
    position: absolute;
    top: 60%;
    padding-left: 38px;
}
#frigoContainer{
    /*display: flex;*/
    position: absolute;
    top: 32%;
    padding-left: 38px;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 100vh;*/
    /*position: relative;*/
}


#recetteContainer{
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-right: 50px;
    border-spacing: 20px;
    border-radius: 30px;
    display: grid;
    /* 3 colonnes */
    grid-template-columns: 1fr 1fr 1fr;
    /*Espace entre les divs */
    gap: 30px;
    margin-right: 150px;
    margin-bottom: 300px;
}
#texte {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}
.recipeElementContainer{
    height: 350px;
    width: 350px;
    padding: 10px;
    font-family: BalooBhai, sans-serif;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 14px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}
/*#buttonContainer,#buttonContainer2,#buttonContainer3{
    position: absolute;
}*/
#imageContainer{
    /*position: relative;*/
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: flex-start; /* Aligne en haut */
    margin-bottom: 100px; /* Ajuste pour monter un peu */
    width: 100%; /* S'assure qu'il prend toute la largeur pour centrer */
}
#buttonContainer img{
    height: 75px;
    width: 75px;
}
#buttonContainer2 img{
    height: 75px;
    width: 75px;
}
#buttonContainer3 img{
    height: 75px;
    width: 75px;
    
}
.loader {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    position: relative;
    background: #222;
    border-radius: 50%;
    box-sizing: border-box;
    transform-origin: 170px 50px;
    border: 4px solid #333;
    box-shadow: 3px 4px #0003 inset, 0 0 6px #0002 inset;
    animation: panmov 0.4s ease-in-out infinite alternate;
  }
  .loader::before {
    content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) skew(-15deg, 15deg) rotate(-15deg);
      width: 55px;
      height: 53px;
      background: #fff;
      background-image: 
      radial-gradient(circle 3px , #fff6 90%, transparent 10%),
      radial-gradient(circle 12px , #ffc400 90%, transparent 10%),
      radial-gradient(circle 12px , #ffae00 100%, transparent 0);
      background-repeat: no-repeat;
      background-position: -4px -6px , -2px -2px , -1px -1px;
      box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
      border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
      animation: ylmov 0.6s ease-in-out infinite alternate;
  }
  .loader::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 48px;
    height: 15px;
    width: 70px;
    background: #222222;
    border-radius: 0 8px 8px 0;
    box-shadow: 3px 0 3px #eee2 inset;
    transform: rotate(5deg) translateX(3px);
  }
  
  @keyframes panmov {
    0% , 10% { transform: rotate(5deg) }
    90% , 100% { transform: rotate(-5deg) }
  }
  @keyframes ylmov {
    to { 
        border-radius: 50% 36% 50% 50% / 49% 50% 45% 45%;
        background-position: -2px -4px , 2px 2px , 1px 1px;
     }
  }
  #buttonValider,#buttonRetour,#nouvelleRecette{
    background-color: #ea923a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    font-family: BalooBhai, sans-serif;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: fixed; /* Fixe le bouton par rapport à la fenêtre */
    bottom: 320px; /* Distance par rapport au haut de l'écran */
    right: 500px; /* Distance par rapport à la droite de l'écran */
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    height: 90px;
    width: 200px;
}  